{{ define "main" }}

<main class="w-full h-full bg-white border-4 border-blue-800 border-dotted p-4">
  <section>
    <div class="right margin">
      <img src="/images/Cro.jpeg" alt="me" />
      <p><a href="#">october</a></p>
    </div>
    <h1 class="text-xl font-bold">welcome to my space</h1>
    <p class="my-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste odit, harum, alias et doloribus facilis enim totam quidem tenetur, quis quibusdam rerum. Quasi ipsum exercitationem, enim incidunt laboriosam cumque dolorum.
      <span
        class="bg-[url('/images/water.webp')] text-black font-bold p-4 block"
        >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error atque lo
      </span>
    </p>
  </section>

  <section>
    <p>
      check out
      <a href="#">the docs</a>! 💓
    </p>
  </section>
</main>

{{ end }}
