{{ define "main" }}

<main class="w-full h-full bg-white border-4 border-blue-800 border-dotted p-4">
  <section>
    <div class="right margin">
      <img src="/images/Cro.jpeg" alt="me" />
      <p><a href="#">october</a></p>
    </div>
    <h1 class="text-xl font-bold">welcome to my corner of the internet!</h1>
    <p class="my-4">
      hey there! i'm aditya, your friendly neighborhood coder. if you're into cool tech, you've come to the right place. i spend most of my time in front of my computer, making magic happen (and yes, i sometimes forget to blink).
    </p>
    <p class="my-4">
      once upon a time, i was a basketball enthusiast, but now my dribbling skills are reserved for code and debugging. while i still love reading, let's be honest—buying books is where the real thrill is.
    </p>
    <p class="my-4">
      when i'm not coding or on a book-buying spree, you'll find me scribbling poems on my notes app. my favorite anime is one piece because, let's face it, who doesn't love a good adventure?
    </p>
    <p class="my-4">
      i'm also a part-time philosopher, which means i'm always up for deep, existential chats. if you're into that too, hit me up—we might just become best friends (my discord: @psfr)!
    </p>
    <p class="my-4">
      enjoy your stay, and let's create some cool stuff together!
    </p>
    <span
        class="bg-[url('/images/water.webp')] text-black font-bold p-4 block"
        >seize the day, my friend (LOCK IN)
      </span>
  </section>

  <section>
    <p>
      check out
      <a href="#">my github</a>!
    </p>
  </section>
</main>

{{ end }}
