{{ define "main" }}

<main class="w-full h-full bg-green-200 border-4 border-blue-800 border-dotted p-4">
  <section>
    <div class="right margin">
      <img src="/images/luffy.jpeg" alt="me" />
      <p>you can also call me october</p>
    </div>
    <h1 class="text-xl font-bold">welcome to my corner of the internet!</h1>
    <p>(this website is a work in progress...)</p>
    <p class="my-4">
      hey there! i'm aditya, 21, from india. i'm the guy who sees magic in every line of code and beauty in every pixel.
    </p>
    <p class="my-4">
      let's get this out of the way - i used to be a total nerd in school. now i'm just… a different kind of nerd. these days, i spend a fair bit of time tinkering with code and dreaming up cool project ideas. but don't worry, i won't bore you with tech talk.
    </p>
    <p class="my-4">fun fact: i used to play piano, but now my fingers dance on the keyboard for coding. i love reading books—though let's be honest, buying books is the real excitement.</p>
    <p class="my-4">
      when i'm not buried in a book or lost in the digital world, i'm probably scribbling down poems in my phone's notes app. they're not exactly franz kafka, but they keep me sane. i love rock music, but soft indie hits the spot too. and yes, my favorite anime is one piece, i just wanna sail the grand line with luffy and the gang.
    </p>
    <p class="my-4">luffy's my inspiration</p>
    <p class="my-4">
      i also fancy myself a bit of a philosopher. so if you're up for some deep, potentially nonsensical conversations about life, the universe, and everything, i'm your guy. (my discord: @psfr)!
    </p>
    <p class="my-4">i enjoy sunrises and all the simple joys that come with them.</p>
    <p class="my-4">
      anyway, that's me. stick around, maybe we'll cook up something cool together. or at the very least, we can debate whether buying books counts as a hobby. (spoiler alert: i think it does.)
    </p>
    
    <p class="my-4">that's all for now - stay awesome, folks!</p>
    <span
        class="bg-[url('/images/fondo_purplestars.gif')] text-black font-bold p-4 block"
        >“The most important thing in life is to learn how to give out love, and to let it come in.”
        <p>- Tuesdays with Morrie</p>
      </span>
  </section>

  <section>
    <p>
      here's
      <a href="https://x.com/adetyayy" target="_blank">my twitter/x</a>!
    </p>
  </section>
</main>

{{ end }}
