{{/*  <nav class="w-48 flex-shrink-0 mb-4 lg:mb-0 bg-white border-4 border-blue-800 border-dotted p-4">
  <ul class="list-none p-0">
    <li><a href="{{ .Site.BaseURL }}" class="hover:underline">~/home</a></li>
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}" class="hover:underline">~/{{ lower .Name }}</a></li>
    {{ end }}
  </ul>
</nav>  */}}





<nav
  class="border-4 bg-white border-pink-400 p-4 w-full lg:w-auto lg:max-w-xs max-h-full"
>
  <ul>
    {{ $title := lower .Title }} {{ $section := lower .Section }}
    <li>
      <a href="{{ .Site.BaseURL }}">~/home</a>
    </li>
    {{ range .Site.Menus.main }} {{ $name := lower .Name }}
    <li>
      <a href="{{ .URL }}">~/{{ lower .Name }}</a>
    </li>
    {{end}}
  </ul>
</nav>
